:root {
  // general config
  --button-line-height: 1.25;
  --button-v-padding: var(--space-2xs);
  --button-h-padding: var(--space-xs);
  --button-border-width: 2px;
  --button-border-radius: var(--border-radius-default);
}